# Node dependencies
node_modules/

# Expo
.expo/
dist/
dist-*/
web-build/
expo-env.d.ts

# Native build artifacts
android/
ios/

# EAS
.eas/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Editor
.fleet
.idea
.vscode

# TypeScript
*.tsbuildinfo
